<mat-card>
  <mat-card-title>{{ isEditMode ? 'Edit Waiter' : 'Create Waiter' }}</mat-card-title>

  <form [formGroup]="waiterForm" (ngSubmit)="submitForm()">

    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input matInput formControlName="firstname" required>
      <mat-error *ngIf="waiterForm.get('firstname')?.invalid && waiterForm.get('firstname')?.touched">
        Firstname is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lastname</mat-label>
      <input matInput formControlName="lastname" required>
      <mat-error *ngIf="waiterForm.get('lastname')?.invalid && waiterForm.get('lastname')?.touched">
        Lastname is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" required>
      <mat-error *ngIf="waiterForm.get('phone')?.invalid && waiterForm.get('phone')?.touched">
        Phone is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="waiterForm.get('email')?.invalid && waiterForm.get('email ')?.touched">
        Email is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tables</mat-label>
      <mat-select formControlName="tablesId" multiple="">
        <mat-option *ngFor="let table of tables" [value]="table.id">
          {{ table.tableIdentifier }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-chip-listbox *ngIf="waiterForm.value.tablesId?.lenght">
      <mat-chip *ngFor="let tableId of waiterForm.value.tablesId" (removed)="removeTable(tableId)" removable>
        {{ getTableIdentifier(tableId) }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-listbox>

    <button mat-flat-button color="primary" type="submit" [disabled]="waiterForm.invalid">
      {{ isEditMode? 'Update' : 'Save' }}
    </button>

  </form>

</mat-card>
