<div *ngIf="waiter" class="waiter-details">
  <mat-card>
    <mat-card-title>{{ waiter.firstname + ' ' + waiter.lastname }}</mat-card-title>
    <mat-card-content>
      <p><strong>Phone Number:</strong> {{ waiter.phone }} </p>
      <p><strong>Email:</strong> {{ waiter.email }} </p>
      <p><strong>Tables:</strong> -- </p>
      <p *ngFor="let table of tables"> {{ table.tableIdentifier }} </p>
      <p><strong>Restaurant:</strong> {{ waiter.restaurantId }} </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" (click)="goToUpdate()">Update</button>
    </mat-card-actions>

    <mat-card-actions>
      <button mat-button color="primary" (click)="delete()">Delete</button>
    </mat-card-actions>

  </mat-card>
</div>
